// Main framework - Tables

table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
	margin: $tl-table-margin;

	tr {
		border-bottom: 1px solid #e1e1e1;
	}

	td, th {
		padding: $tl-table-cell-padding;
	}

	td:first-child, th:first-child {
		padding-left: 0;
	}

	td:last-child, th:last-child {
		padding-right: 0;
	}
}
