// Main framework - Variables

// Typografy
//-----------------------------------------------------------------------------
$tl-font-size: 1.6em !default;
$tl-font-weight: 300 !default;
$tl-letter-spacing: .01em !default;
$tl-line-height: 1.6 !default;
$tl-text-color: #B5B5B7 !default;

// Headings
$tl-h-font-weight: 300 !default;

$tl-h1-font-size: 5.0rem !default;
$tl-h1-line-height: 1.2 !default;
$tl-h1-margin-bottom: 5rem !default;

$tl-h2-font-size: 4.2rem !default;
$tl-h2-line-height: 1.25 !default;
$tl-h2-margin-bottom: 2rem !default;

$tl-h3-font-size: 3.6rem !default;
$tl-h3-line-height: 1.3 !default;
$tl-h3-margin-bottom: 2rem !default;

$tl-h4-font-size: 3.0rem !default;
$tl-h4-line-height: 1.35 !default;
$tl-h4-margin-bottom: 2rem !default;

$tl-h5-font-size: 2.4rem !default;
$tl-h5-line-height: 1.5 !default;
$tl-h5-margin-bottom: 1rem !default;

$tl-h6-font-size: 1.5rem !default;
$tl-h6-line-height: 1.4 !default;
$tl-h6-margin-bottom: 1rem !default;

// Links
$tl-link-color: #FF8600 !default;
$tl-link-hover-color: darken($tl-link-color, 15%) !default;

// Lists
//-----------------------------------------------------------------------------
$tl-list-margin: 0 0 2.5rem 0 !default;

// Tables
//-----------------------------------------------------------------------------
$tl-table-margin: 0 0 2.5rem 0 !default;
$tl-table-cell-padding: 1.2rem 1.5rem !default;
$tl-table-border-color: #B5B5B7 !default;

// Buttons
//-----------------------------------------------------------------------------
$tl-button-color: #9b4dca !default;
$tl-button-hover-color: #606c76 !default;
$tl-button-font-size: 1.2rem !default;
$tl-button-font-weight: 700 !default;
$tl-button-padding: 1.0rem 3.0rem !default;

// Ribbons
//-----------------------------------------------------------------------------
// $ribbon-font-size: 1.5rem !default;
// $ribbon-text-color: #f0f0f0 !default;

// Layout
//-----------------------------------------------------------------------------
$tl-container-max-width: 112.0rem !default;
$tl-container-padding: 0 2.0rem !default;
$tl-column-padding: 0 1.0rem 2.0rem 1.0rem !default;

// Breakpoints
//-----------------------------------------------------------------------------
$tl-breakpoint-mobile: 40rem !default;
