// Main styles

// Debug
//-----------------------------------------------------------------------------
// $debug: true;

@if global_variable_exists(debug) {
	* {
		/*border: 1px solid black !important;*/
	}

	img {
		// border-color: red !important;
	}

	.content {
		background-color: #552288 !important;
	}

	.container {
		background-color: #ffaaaa;
		box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.75);
	}

	.row {
		// border: 1px solid black !important;
	}

	.col {
		// border: 1px solid black !important;
		background-color: #aaffaa;
	}

	.test {
		background-color: #334488;
	}
}

// Variables
//-----------------------------------------------------------------------------
// Overrides
$tl-container-padding: 2.0rem 2.0rem;

// Dimensions
$header-height: 30rem;
$navigation-height: 8rem;
$asset-margin-bottom: 4.0rem;

// Typografy
$header-info-font: 'Architects Daughter', cursive;
$navigation-font: 'Lato', sans-serif;

// Color scheme
$tl-text-color: #939ABD;
$tl-link-color: #A3EEA0;
$tl-link-hover-color: darken($tl-link-color, 15%);
$tl-button-color: #A3EEA0;
$tl-button-hover-color: darken($tl-button-color, 15%);
$tl-table-border-color: lighten(#363A4E, 5%);

$header-bg-color: #ccc;

// $navigation-bg-color: #303340;
// $content-bg-color: #1C2538;
// $container-bg-color: #6B7692;
// $asset-info-bg-color: #1C2538;
// $separator-color: #424658;
// $footer-bg-color: #303340;


//---------------------------


$content-bg-color: darken(#363A4E, 8%);
$container-bg-color: transparent;
$asset-info-bg-color: #363A4E;

$navigation-bg-color: $asset-info-bg-color;
$separator-color: $asset-info-bg-color;
$footer-bg-color: $content-bg-color;

// Imports
//-----------------------------------------------------------------------------
@import 'variables';
@import 'typografy';
@import 'layout';
@import 'lists';
@import 'buttons';
@import 'ribbons';
@import 'tables';
@import 'mixins';

// General styles
//-----------------------------------------------------------------------------
body {
	padding-top: $header-height; /* Room for the header */
}

// p {
// 	color: #DEE2F7;
// }

.content {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	// padding-top: $navigation-height;
	margin: 0;
	background-color: $content-bg-color;

	&.content-top {
		// padding-top: 2 * $navigation-height; /* Room for navigation */
		padding-top: 1.5 * $navigation-height; /* Room for navigation */
	}
}

.container {
	background-color: $container-bg-color;
	// @include shadow-lg;
}

@media (max-width: $tl-breakpoint-mobile) {
	body {
		padding-top: 0.5 * $header-height; /* Room for the header */
	}
}

// Header
//-----------------------------------------------------------------------------
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $header-height;
	background-color: $header-bg-color;

	.header-img {
		position: relative;
		z-index: 1;
		min-height: $header-height;
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	.header-info {
		font-family: $header-info-font;
		font-style: italic;
		font-size: 2.0rem;
		padding: 2.0rem;
	}
}

@media (max-width: $tl-breakpoint-mobile) {
	.header {
		height: 0.5 * $header-height;

		.header-img {
			min-height: 0.5 * $header-height;
		}
	}
}

// Navigation
//-----------------------------------------------------------------------------
.navigation {
	font-family: $navigation-font;
	position: relative;
	z-index: 100;
	height: $navigation-height;
	margin-bottom: -$navigation-height;
	text-transform: uppercase;
	text-align: center;
	background-color: $navigation-bg-color;
	transition: all 0.1s ease-out;
	// @include shadow;

	&.navigation-scrolled {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba($navigation-bg-color, 0.98);
	}

	&.navigation-shrunk {
		height: $navigation-height / 2;
		background-color: rgba($navigation-bg-color, 0.98);
	}

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 3.0rem;
		height: 100%;
	}

	a ~ a {
		// margin-left: 2.0rem;

		&::before {
			content: '\00B7';
			color: $tl-link-color;
			margin: 0 1.0rem;
		}
	}
}

@media (max-width: $tl-breakpoint-mobile) {
	.navigation {
		height: 4rem;
		margin-bottom: -4rem;
	}

	.navigation a {
		font-size: 2rem;
	}

	.navigation a ~ a {
		margin-left: 0.7rem;
	}
}

// Main section
//-----------------------------------------------------------------------------
.col.col-asset {
	padding: 0;
}

.col.col-info {
	padding: 0 1.0rem;
}

.asset-img {
	position: relative;
	left: -1.0rem;
	z-index: 1;
	min-height: 30.0rem;
	width: calc(100% + 1.0rem);
	height: calc(100% + 1.0rem);
	background-position: center;
	background-size: cover;
	@include shadow-lg;
}

.asset-description-container {
	display: flex;
	flex-direction: column;
	box-shadow: none;
	height: 100%;

	.asset-description {
		flex: 1;
		padding: 2.0rem;
	}

	.store-listing {
		background-color: $asset-info-bg-color;
	}
}

.asset-info {
	display: none; /* Info hidden by default */

	.asset-info-area {
		padding: 2.0rem;
		background-color: darken($asset-info-bg-color, 5%);
		@include shadow(inset);
	}
}

.button-info {
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	width: 100%;
	padding: 2.0rem 0;
	color: $tl-link-color;
	background-color: $asset-info-bg-color;

	&:hover {
		color: $tl-button-hover-color
	}
}

.separator {
	// width: 80%;
	margin: 0 auto;
	// margin-top: $asset-margin-bottom;
	margin-top: $navigation-height;
	margin-bottom: $navigation-height / 2;
	border-bottom: 1px solid $separator-color;
}

@media (max-width: $tl-breakpoint-mobile) {
	.asset-img {
		top: -1.0rem;
		width: calc(100% + 2.0rem);
	}
}

// Footer
//-----------------------------------------------------------------------------
.footer {
	text-align: center;
	padding: $asset-margin-bottom 0;
	color: lighten(#363A4E, 5%);
	background-color: $footer-bg-color;
}
