// Main styles

// Debug
//-----------------------------------------------------------------------------
$debug: true;

@if global_variable_exists(debug) {
	* {
		/*border: 1px solid black !important;*/
	}

	img {
		// border-color: red !important;
	}

	.content {
		background-color: #552288 !important;
	}

	.container {
		background-color: #ffaaaa;
	}

	.row {
		// border: 1px solid black !important;
	}

	.col {
		// border: 1px solid black !important;
		background-color: #aaffaa;
	}

	.test {
		background-color: #334488;
	}
}

// Imports
//-----------------------------------------------------------------------------
@import 'variables';
@import 'typografy';
@import 'layout';
@import 'lists';
@import 'buttons';
@import 'ribbons';

// Variables
//-----------------------------------------------------------------------------
$header-height: 30rem;
$header-bg-color: #ccc;
$separator-color: #ccc;
$asset-margin-bottom: 4.0rem;
$navigation-bg-color: #fff;
$footer-bg-color: #aaa;

// General styles
//-----------------------------------------------------------------------------
body {
	padding-top: $header-height; /* Room for the header */
}

.content {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 14rem;
	margin: 0;
	background-color: #fff;
}

@media (max-width: $breakpoint-mobile) {
	body {
		padding-top: 0.5 * $header-height; /* Room for the header */
	}
}

// Header
//-----------------------------------------------------------------------------
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $header-height;
	// padding: 2rem;
	background-color: $header-bg-color;

	.header-img {
		position: relative;
		z-index: 1;
		min-height: $header-height;
		height: 100%;
		background-position: center;
		background-size: cover;
	}
}

@media (max-width: $breakpoint-mobile) {
	.header {
		height: 0.5 * $header-height;

		.header-img {
			min-height: 0.5 * $header-height;
		}
	}
}

// Navigation
//-----------------------------------------------------------------------------
.navigation {
	position: relative;
	z-index: 100;
	height: 8rem;
	margin-bottom: -8rem;
	text-transform: uppercase;
	text-align: center;
	background-color: $navigation-bg-color;
	transition: all 0.1s ease-out;

	&.navigation-scrolled {
		position: fixed;
		top: 0;
		width: 100%;
		// height: 8rem;
		background-color: rgba($navigation-bg-color, 0.98);
	}

	&.navigation-shrunk {
		height: 4rem;
		background-color: rgba($navigation-bg-color, 0.98);
	}

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		height: 100%;
	}

	a ~ a {
		margin-left: 2rem;
	}
}

@media (max-width: $breakpoint-mobile) {
	.navigation {
		height: 4rem;
		margin-bottom: -4rem;
	}

	.navigation a {
		font-size: 2rem;
	}

	.navigation a ~ a {
		margin-left: 0.7rem;
	}
}

// Main section
//-----------------------------------------------------------------------------
.asset-img {
	position: relative;
	z-index: 1;
	min-height: 30rem;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.separator {
	width: 80%;
	margin: 0 auto;
	margin-bottom: $asset-margin-bottom;
	border-bottom: 1px solid $separator-color;
}

.asset {
	margin-bottom: $asset-margin-bottom;
}

// Footer
//-----------------------------------------------------------------------------
.footer {
	text-align: center;
	padding: $asset-margin-bottom 0;
	background-color: $footer-bg-color;
}
