// Main styles

// Debug
//-----------------------------------------------------------------------------
// $debug: true;

@if global_variable_exists(debug) {
	* {
		/*border: 1px solid black !important;*/
	}

	img {
		// border-color: red !important;
	}

	.content {
		background-color: #552288 !important;
	}

	.container {
		background-color: #ffaaaa;
		box-shadow: 0 20px 20px -14px rgba(0, 0, 0, 0.75);
	}

	.row {
		// border: 1px solid black !important;
	}

	.col {
		// border: 1px solid black !important;
		background-color: #aaffaa;
	}

	.test {
		background-color: #334488;
	}
}

// Variables
//-----------------------------------------------------------------------------
// Overrides
// $tl-font-family: 'Source Sans Pro', sans-serif;;
$tl-container-padding: 2.0rem 2.0rem;

// Dimensions
$header-height: 30rem;
$navigation-height: 8rem;
$asset-margin-bottom: 4.0rem;

// Typografy
// $font-accent-cursive: 'Architects Daughter', cursive;
// $font-accent-cursive: 'Exo 2', sans-serif;
$font-accent-cursive: 'Press Start 2P', cursive;
// $font-accent-thin: 'Lato', sans-serif;
$font-accent-thin: 'Exo 2', sans-serif;

// Color scheme
$color-base: #252836;
$color-accent-light: #363A4E;
$color-accent-dark: darken($color-accent-light, 5%);

$tl-text-color: #939ABD;
$tl-link-color: #A3EEA0;
$tl-link-hover-color: darken($tl-link-color, 15%);
$tl-button-color: #A3EEA0;
$tl-button-hover-color: darken($tl-button-color, 15%);
$tl-table-border-color: lighten(#363A4E, 5%);

// Imports
//-----------------------------------------------------------------------------
@import 'variables';
@import 'typografy';
@import 'layout';
@import 'lists';
@import 'buttons';
@import 'ribbons';
@import 'tables';
@import 'mixins';

// Header
//-----------------------------------------------------------------------------
.header {
	position: fixed;
	top: 0;
	width: 100%;
	height: $header-height;
	background-color: $color-accent-light;

	.header-img {
		position: relative;
		// z-index: 1;
		min-height: $header-height;
		height: 100%;
		background-position: center;
		background-size: cover;
	}

	.banner-img {
		position: absolute;
		left: 4.0rem;
		top: 8.5rem;
	}

	.header-banner {
		position: relative;
		font-family: $font-accent-cursive;
		font-size: 1.0rem;
		top: 23.0rem;
		padding: 2.8rem 2.8rem 2.8rem 20rem;

		color: #bfbfff;
		// background: linear-gradient(to right, rgba(24, 214, 255, 0.2) 0%,rgba(0, 0, 0, 0.04) 80%,rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.04) 80%,rgba(0, 0, 0, 0) 100%);
	}
}

@media (max-width: $tl-breakpoint-mobile) {
	.header {
		height: 0.5 * $header-height;

		.header-img {
			min-height: 0.5 * $header-height;
		}

		.banner-img {
			left: 2.0rem;
			top: 4.5rem;
			width: 128px;
		}

		.header-banner {
			font-size: 0.9rem;
			top: 8.3rem;
			padding-left: 10.0rem;
		}
	}
}

// Main content
//-----------------------------------------------------------------------------
.wrapper {
	position: relative;
	top: $header-height; /* Room for the header */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	// margin-top: $header-height; /* Room for the header */
	// padding-top: $header-height; /* Room for the header */
	background-color: $color-base;

	.content {
		display: block;
		width: 100%;
		height: 100%;
		margin: 0;
	}

	.content:first-of-type {
		padding-top: 2 * $navigation-height;
	}

	.separator {
		margin-top: $navigation-height;
		margin-bottom: $navigation-height / 2;
		border-bottom: 1px solid $color-accent-light;
		background-color: $color-base;
	}

	// .separator:first-of-type,
	.separator:last-of-type {
		border: none;
	}

	// .separator:first-of-type {
	// 	margin-top: 1.5 * $navigation-height;
	// }
}

@media (max-width: $tl-breakpoint-mobile) {
	.wrapper {
		top: 0.5 * $header-height; /* Room for the header */
		// margin-top: 0.5 * $header-height; /* Room for the header */

		.content:first-of-type {
			padding-top: $navigation-height;
		}
	}
}

// Navigation
//-----------------------------------------------------------------------------
.navigation {
	position: relative;
	font-family: $font-accent-thin;
	z-index: 100;
	height: $navigation-height;
	margin-bottom: -$navigation-height;
	text-transform: uppercase;
	text-align: center;
	// background-color: $color-accent-light;
	@include gradient-stripes($color-base, $color-accent-dark);
	// @include gradient-stripes($content-bg-color, $asset-info-bg-color);
	transition: all 0.1s ease-out;
	// @include shadow;

	&.navigation-scrolled {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: rgba($color-accent-light, 0.98);
	}

	&.navigation-shrunk {
		height: $navigation-height / 2;
		background-color: rgba($color-accent-light, 0.98);
	}

	a {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 3.0rem;
		height: 100%;
	}

	a ~ a {
		// margin-left: 2.0rem;

		&::before {
			content: '\00B7'; /* Middle dot between nav items */
			color: $tl-link-color;
			margin: 0 1.0rem;
		}
	}
}

@media (max-width: $tl-breakpoint-mobile) {
	.navigation {
		height: 4rem;
		margin-bottom: -4rem;
	}

	.navigation a {
		font-size: 2rem;
	}

	.navigation a ~ a {
		margin-left: 0.7rem;
	}
}

// Main section
//-----------------------------------------------------------------------------
.row.row-asset {
	margin-top: 8rem;
}

.col.col-asset {
	padding: 0;
}

.col.col-info {
	padding: 0 1.0rem;
}

.asset-img {
	position: relative;
	left: -1.0rem;
	// z-index: 1;
	min-height: 30.0rem;
	width: calc(100% + 1.0rem);
	height: calc(100% + 1.0rem);
	background-position: center;
	background-size: cover;
	@include shadow-sm;
}

.asset-description-container {
	display: flex;
	flex-direction: column;
	box-shadow: none;
	height: 100%;

	.asset-description {
		flex: 1;
		padding: 2.0rem;
	}

	.store-listing {
		background-color: $color-accent-light;
	}
}

.asset-info {
	display: none; /* Info hidden by default */

	.asset-info-area {
		padding: 2.0rem;
		background-color: $color-accent-dark;
		@include shadow(inset);
	}
}

.button-info {
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4rem;
	width: 100%;
	padding: 2.0rem 0;
	color: $tl-link-color;
	background-color: $color-accent-light;
	// @include gradient-stripes($color-base, $color-accent-dark);

	&:hover {
		color: $tl-button-hover-color
	}
}

@media (max-width: $tl-breakpoint-mobile) {
	.asset-img {
		top: -1.0rem;
		width: calc(100% + 2.0rem);
	}
}

// Footer
//-----------------------------------------------------------------------------
.footer {
	text-align: center;
	padding: $asset-margin-bottom 0;
	color: darken($tl-text-color, 20%);
	// background-color: $color-base;
	@include gradient-stripes($color-base, $color-accent-dark);
}
