/* --- DEBUG --- */
* {
	/*border: 1px solid black !important;*/
}

img {
	border-color: red !important;
}

/* ---------------------- */

/* --- General styles --- */
body {
	padding-top: 300px; /* Room for the header */
}

.container-full {
	max-width: none;
}

.content {
	padding: 4rem 4rem;
}

/* --- Header --- */
/*.intro-bg {
	width: 100%;
	height: 400px;
	background-image: url('img_flowers.jpg');
	background-size: cover;
}*/

.header {
	position: fixed;
	top: 0;
	width: 100%;
	/*height: 250px;*/
	/*padding-top: 50px;*/
	height: 300px;
	padding: 2rem;
	background-color: gray;
}

/* --- Navigation --- */
.navigation {
	position: relative;
	z-index: 100;
	height: 8rem;
	margin-bottom: -8rem;
	text-transform: uppercase;
	text-align: center;
	background-color: #ffffff;
	transition: all 0.1s ease-out;
}

.navigation-scrolled {
	position: fixed;
	top: 0;
	width: 100%;
	height: 8rem;
}

.navigation-shrunk {
	height: 4rem;
	background-color: rgba(255, 255, 255, 0.95);
}

.navigation a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	height: 100%;
}

.navigation a ~ a {
	margin-left: 2rem;
}

@media screen and (max-width: 430px) {
	body {
		padding-top: 100px; /* Room for the header */
	}

	.header {
		height: 100px;
	}

	.navigation {
		height: 4rem;
		margin-bottom: -4rem;
	}

	.navigation a {
		font-size: 2rem;
	}

	.navigation a ~ a {
		margin-left: 0.7rem;
	}
}

/* --- Main section --- */
.main {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 140px;
	background-color: #ffffff;
}

/* --- Assets --- */
.asset {
	margin-bottom: 4rem;
}

/*.asset::after {
	content: "";
	position: absolute;
	width: 500px;
	border-bottom: 1px solid #ccc;
	z-index: 10;
}*/

.separator {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 4rem;
	border-bottom: 1px solid #ccc;
}

.asset-img {
	position: relative;
	z-index: 1;
	/*overflow: hidden;*/
	height: 100%;
	min-height: 30rem;
	background-position: center;
	background-size: cover;
}

.button-info {
	font-size: 2rem;
}

/* --- Footer --- */
.footer {
	text-align: center;
	background-color: #aaaaaa;
}

/* --- Helper classes --- */





.ribbon {
	position: absolute;
	text-transform: uppercase;
	width: auto;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 6px 20px 6px 30px;
	margin: 20px 0px 0px -10px;
	color: #f0f0f0;
	background-color: #000;
	/*text-shadow: 0px 1px 2px #555;*/
	/*-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;*/
	box-shadow: 0px 2px 4px #000;
}

/*.ribbon::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 26px;
	height: 0;
	left: -16px;
	top: 8px;
	border-width: 18px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}*/

.ribbon::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-width: 4px 5px;
	border-style: solid;
	border-color: #555 #555 transparent transparent;
}

.ribbon-soundfx { background-color: #39d; }
.ribbon-tileset { background-color: #1b9; }





.cr {
	width: 200px;
	padding: 16px;
	position: absolute;
	text-align: center;
	color: #f0f0f0;
}

.cr-sticky {
	position: fixed;
}

/* Positions */

.cr-top    { top: 25px; }
.cr-bottom { bottom: 25px; }
.cr-left   { left: -50px; }
.cr-right  { right: -50px; }

/* Rotations */

.cr-top.cr-left,
.cr-bottom.cr-right {
	transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
	transform: rotate(45deg);
}

/* Colors */

.cr-soundfx { background-color: #39d; }
.cr-tileset { background-color: #1b9; }
